body{
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #A8DADC;
  color: #264653; 
}

.title{
  color: #1D3557;
  font-family: verdana, arial, sans-serif; 
  font-style: italic;
  font-weight: bold;
  font-size: 80px;
  line-height: 105%;
  margin: 0;
}

button{
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 10px;
}

#gameBtnArea > button{
  width:200px;
  height:200px;
  margin:2px;
}

.hidden{
  display: none;
}

#button1{
    background: lightgreen;
}

#button2{
    background: lightgreen;
}

#button3{
    background: lightgreen;
}

#button1 {
    background: lightgreen;
}

